.container {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
    line-height: 200%;
    margin: 20px 10px;
    padding: 25px 40px;
    border-radius: 1px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
    color: $gray40;
}

.greeting {
    font-weight: bold;
    color: $brandColor;
    font-size: 30px;
}
